FRONTEND_PORT=5173
MYSQL_PORT=3306
MYSQL_DATABASE=whut_training
MYSQL_USER=training
MYSQL_PASSWORD=training123
MYSQL_ROOT_PASSWORD=root123
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/whut_training?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=training
SPRING_DATASOURCE_PASSWORD=training123
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
APP_DAILY_PROBLEM_CACHE_TTL=1d
JAVA_OPTS=
VITE_API_BASE_URL=
